--
-- PostgreSQL database dump
--

\restrict QeR2jdXFbcR41LG3gip557ewaan88zNv6KHFqR80q2m0NHZCdmAdojjmdliZnR5

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vulnerability; Type: SCHEMA; Schema: -; Owner: airflow_sec
--

CREATE SCHEMA vulnerability;


ALTER SCHEMA vulnerability OWNER TO airflow_sec;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assets; Type: TABLE; Schema: vulnerability; Owner: airflow_sec
--

CREATE TABLE vulnerability.assets (
    id integer NOT NULL,
    desabilitado character varying(10),
    fonte character varying(50),
    hora_atualizacao timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    asset_id character varying(50),
    nome character varying(255),
    tipo character varying(50),
    sigla character varying(50),
    servico_vinculado character varying(150),
    descricao character varying(255),
    local character varying(100),
    area character varying(100),
    nome_dos_responsaveis text,
    endereco_ip character varying(45),
    usuarios text,
    sistema_operacional_desatualizado character varying(10),
    legado character varying(10),
    identificacao_ambiente character varying(100),
    backup character varying(10),
    monitoracao_zabbix character varying(50),
    monitoracao_dynatrace character varying(50),
    data_hora_entrada timestamp without time zone,
    rvs_ativa character varying(10),
    rvs_anotacao text,
    nivel_impacto_negocio character varying(100),
    ciclo_vida_servico character varying(100),
    sensibilidade_dados character varying(255),
    local_hospedagem_ambiente character varying(255),
    seguranca_informacao character varying(255),
    localizacao_ativo character varying(255),
    media_criticidade numeric(4,2),
    faixa_criticidade character varying(50),
    identificador character varying(100)
);


ALTER TABLE vulnerability.assets OWNER TO airflow_sec;

--
-- Name: assets_id_seq; Type: SEQUENCE; Schema: vulnerability; Owner: airflow_sec
--

CREATE SEQUENCE vulnerability.assets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE vulnerability.assets_id_seq OWNER TO airflow_sec;

--
-- Name: assets_id_seq; Type: SEQUENCE OWNED BY; Schema: vulnerability; Owner: airflow_sec
--

ALTER SEQUENCE vulnerability.assets_id_seq OWNED BY vulnerability.assets.id;


--
-- Name: defender_detections; Type: TABLE; Schema: vulnerability; Owner: airflow_sec
--

CREATE TABLE vulnerability.defender_detections (
    id integer NOT NULL,
    cve_id character varying(20),
    device_name character varying(150),
    device_id character varying(100),
    software_name text,
    data_deteccao timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    jira_key character varying(20)
);


ALTER TABLE vulnerability.defender_detections OWNER TO airflow_sec;

--
-- Name: defender_detections_id_seq; Type: SEQUENCE; Schema: vulnerability; Owner: airflow_sec
--

CREATE SEQUENCE vulnerability.defender_detections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE vulnerability.defender_detections_id_seq OWNER TO airflow_sec;

--
-- Name: defender_detections_id_seq; Type: SEQUENCE OWNED BY; Schema: vulnerability; Owner: airflow_sec
--

ALTER SEQUENCE vulnerability.defender_detections_id_seq OWNED BY vulnerability.defender_detections.id;


--
-- Name: nvd_cves; Type: TABLE; Schema: vulnerability; Owner: airflow_sec
--

CREATE TABLE vulnerability.nvd_cves (
    cve_id character varying(20) NOT NULL,
    descricao text,
    cvss_v3_score numeric(3,1),
    data_ultima_modificacao timestamp without time zone,
    data_coleta_airflow timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    json_original jsonb,
    base_score numeric(3,1),
    severidade character varying(20),
    vetor_ataque character varying(50),
    status_vulnerabilidade character varying(50),
    cwe_id character varying(50),
    complexidade_ataque character varying(20),
    interacao_usuario character varying(20),
    privilegios_necessarios character varying(20),
    vetor_completo_string text,
    vetor_string_completo text,
    vendor character varying(255)
);


ALTER TABLE vulnerability.nvd_cves OWNER TO airflow_sec;

--
-- Name: vw_cve_severity; Type: VIEW; Schema: vulnerability; Owner: airflow_sec
--

CREATE VIEW vulnerability.vw_cve_severity AS
 SELECT nvd_cves.cve_id,
    COALESCE(((cvss40.value -> 'cvssData'::text) ->> 'baseSeverity'::text), ((cvss31.value -> 'cvssData'::text) ->> 'baseSeverity'::text)) AS severity,
    COALESCE((((cvss40.value -> 'cvssData'::text) ->> 'baseScore'::text))::numeric, (((cvss31.value -> 'cvssData'::text) ->> 'baseScore'::text))::numeric, nvd_cves.cvss_v3_score) AS score,
    nvd_cves.data_ultima_modificacao
   FROM ((vulnerability.nvd_cves
     LEFT JOIN LATERAL jsonb_array_elements((((nvd_cves.json_original -> 'cve'::text) -> 'metrics'::text) -> 'cvssMetricV40'::text)) cvss40(value) ON (true))
     LEFT JOIN LATERAL jsonb_array_elements((((nvd_cves.json_original -> 'cve'::text) -> 'metrics'::text) -> 'cvssMetricV31'::text)) cvss31(value) ON (true));


ALTER TABLE vulnerability.vw_cve_severity OWNER TO airflow_sec;

--
-- Name: vw_cve_severity_v4; Type: VIEW; Schema: vulnerability; Owner: airflow_sec
--

CREATE VIEW vulnerability.vw_cve_severity_v4 AS
 SELECT c.cve_id,
    ((cvss.elem -> 'cvssData'::text) ->> 'baseSeverity'::text) AS severity,
    (((cvss.elem -> 'cvssData'::text) ->> 'baseScore'::text))::numeric AS score,
    c.data_ultima_modificacao
   FROM (vulnerability.nvd_cves c
     CROSS JOIN LATERAL jsonb_array_elements((((c.json_original -> 'cve'::text) -> 'metrics'::text) -> 'cvssMetricV40'::text)) cvss(elem));


ALTER TABLE vulnerability.vw_cve_severity_v4 OWNER TO airflow_sec;

--
-- Name: vw_cve_vendor_heuristic; Type: VIEW; Schema: vulnerability; Owner: airflow_sec
--

CREATE VIEW vulnerability.vw_cve_vendor_heuristic AS
 SELECT nvd_cves.cve_id,
        CASE
            WHEN (nvd_cves.descricao ~~* '%microsoft%'::text) THEN 'Microsoft'::text
            WHEN (nvd_cves.descricao ~~* '%oracle%'::text) THEN 'Oracle'::text
            WHEN (nvd_cves.descricao ~~* '%vmware%'::text) THEN 'VMware'::text
            WHEN (nvd_cves.descricao ~~* '%cisco%'::text) THEN 'Cisco'::text
            WHEN (nvd_cves.descricao ~~* '%fortinet%'::text) THEN 'Fortinet'::text
            WHEN (nvd_cves.descricao ~~* '%cloudflare%'::text) THEN 'Cloudflare'::text
            WHEN (nvd_cves.descricao ~~* '%postgresql%'::text) THEN 'PostgreSQL'::text
            WHEN (nvd_cves.descricao ~~* '%mysql%'::text) THEN 'MySQL'::text
            ELSE 'Outros'::text
        END AS vendor
   FROM vulnerability.nvd_cves;


ALTER TABLE vulnerability.vw_cve_vendor_heuristic OWNER TO airflow_sec;

--
-- Name: vw_cve_severity_vendor; Type: VIEW; Schema: vulnerability; Owner: airflow_sec
--

CREATE VIEW vulnerability.vw_cve_severity_vendor AS
 SELECT s.cve_id,
    v.vendor,
    s.severity,
    s.score,
    s.data_ultima_modificacao
   FROM (vulnerability.vw_cve_severity s
     JOIN vulnerability.vw_cve_vendor_heuristic v ON (((s.cve_id)::text = (v.cve_id)::text)));


ALTER TABLE vulnerability.vw_cve_severity_vendor OWNER TO airflow_sec;

--
-- Name: vw_vulnerability_intelligence; Type: VIEW; Schema: vulnerability; Owner: airflow_sec
--

CREATE VIEW vulnerability.vw_vulnerability_intelligence AS
 WITH cve_analise_profunda AS (
         SELECT nvd_cves.cve_id,
            ('https://nvd.nist.gov/vuln/detail/'::text || (nvd_cves.cve_id)::text) AS link_nvd,
            split_part((nvd_cves.cve_id)::text, '-'::text, 2) AS ano_cve,
            initcap("substring"((nvd_cves.json_original)::text, 'cpe:2\.3:[oah]:([^:]+):'::text)) AS vendor_real,
            "substring"((nvd_cves.json_original)::text, 'cpe:2\.3:[oah]:[^:]+:([^:]+):'::text) AS produto_real,
            nvd_cves.base_score,
            nvd_cves.severidade,
            nvd_cves.complexidade_ataque,
            nvd_cves.interacao_usuario,
            nvd_cves.vetor_string_completo,
                CASE
                    WHEN (nvd_cves.vetor_string_completo ~~ '%AV:N%'::text) THEN 'Rede (Remoto)'::text
                    WHEN (nvd_cves.vetor_string_completo ~~ '%AV:A%'::text) THEN 'Rede Adjacente'::text
                    WHEN (nvd_cves.vetor_string_completo ~~ '%AV:L%'::text) THEN 'Local'::text
                    WHEN (nvd_cves.vetor_string_completo ~~ '%AV:P%'::text) THEN 'F├¡sico'::text
                    ELSE 'N├úo Definido'::text
                END AS meio_de_ataque,
            ( SELECT string_agg((ref.value ->> 'url'::text), '
'::text) AS string_agg
                   FROM jsonb_array_elements(((nvd_cves.json_original -> 'cve'::text) -> 'references'::text)) ref(value)
                  WHERE (((ref.value -> 'tags'::text) @> '["Exploit"]'::jsonb) OR ((ref.value ->> 'url'::text) ~* 'exploit-db|packetstorm|github\.com/.*poc|metasploit'::text))) AS links_exploit_poc,
            nvd_cves.descricao,
            nvd_cves.data_ultima_modificacao,
            nvd_cves.data_coleta_airflow
           FROM vulnerability.nvd_cves
          WHERE (((nvd_cves.vendor)::text <> ALL ((ARRAY['Desconhecido'::character varying, 'In'::character varying, 'Rejected'::character varying])::text[])) AND (split_part((nvd_cves.cve_id)::text, '-'::text, 2) >= '2023'::text))
        )
 SELECT cve_analise_profunda.cve_id,
    cve_analise_profunda.link_nvd,
    cve_analise_profunda.ano_cve,
    cve_analise_profunda.vendor_real,
    cve_analise_profunda.produto_real,
    cve_analise_profunda.base_score,
    cve_analise_profunda.severidade,
    cve_analise_profunda.complexidade_ataque,
    cve_analise_profunda.interacao_usuario,
    cve_analise_profunda.vetor_string_completo,
    cve_analise_profunda.meio_de_ataque,
    cve_analise_profunda.links_exploit_poc,
    cve_analise_profunda.descricao,
    cve_analise_profunda.data_ultima_modificacao,
    cve_analise_profunda.data_coleta_airflow,
        CASE
            WHEN ((cve_analise_profunda.links_exploit_poc IS NOT NULL) AND ((cve_analise_profunda.severidade)::text = ANY ((ARRAY['CRITICAL'::character varying, 'HIGH'::character varying])::text[]))) THEN '­ƒÜ¿ EMERG├èNCIA'::text
            WHEN (((cve_analise_profunda.severidade)::text = 'CRITICAL'::text) AND ((cve_analise_profunda.interacao_usuario)::text = 'NONE'::text) AND (cve_analise_profunda.meio_de_ataque = 'Rede (Remoto)'::text)) THEN '­ƒöÑ CR├ìTICO'::text
            WHEN ((cve_analise_profunda.severidade)::text = ANY ((ARRAY['CRITICAL'::character varying, 'HIGH'::character varying])::text[])) THEN 'ÔÜá´©Å ALTO RISCO'::text
            ELSE 'Ô£à MONITORAMENTO'::text
        END AS status_prioridade,
        CASE
            WHEN (cve_analise_profunda.produto_real ~* 'windows_1[01]|chrome|firefox|edge|office_365'::text) THEN 'SQUAD WORKPLACE'::text
            WHEN (cve_analise_profunda.produto_real ~* 'windows_server|sql_server|active_directory|sharepoint'::text) THEN 'SQUAD INFRA/DBA'::text
            WHEN (cve_analise_profunda.produto_real ~* 'azure|aws|cloud|dynamics|entraid'::text) THEN 'SQUAD CLOUD/SAAS'::text
            WHEN (cve_analise_profunda.vendor_real = 'Adobe'::text) THEN 'SQUAD CREATIVE APPS'::text
            WHEN (cve_analise_profunda.vendor_real = ANY (ARRAY['Oracle'::text, 'Mysql'::text, 'Postgresql'::text, 'Mongodb'::text])) THEN 'SQUAD DATA SERVICES'::text
            WHEN (cve_analise_profunda.produto_real ~* 'fortinet|cisco|paloalto|checkpoint'::text) THEN 'SQUAD NETWORK/FIREWALL'::text
            ELSE 'TI - SEGURAN├çA DA INFORMA├ç├âO'::text
        END AS squad_responsavel
   FROM cve_analise_profunda;


ALTER TABLE vulnerability.vw_vulnerability_intelligence OWNER TO airflow_sec;

--
-- Name: assets id; Type: DEFAULT; Schema: vulnerability; Owner: airflow_sec
--

ALTER TABLE ONLY vulnerability.assets ALTER COLUMN id SET DEFAULT nextval('vulnerability.assets_id_seq'::regclass);


--
-- Name: defender_detections id; Type: DEFAULT; Schema: vulnerability; Owner: airflow_sec
--

ALTER TABLE ONLY vulnerability.defender_detections ALTER COLUMN id SET DEFAULT nextval('vulnerability.defender_detections_id_seq'::regclass);


--
-- Name: assets assets_asset_id_key; Type: CONSTRAINT; Schema: vulnerability; Owner: airflow_sec
--

ALTER TABLE ONLY vulnerability.assets
    ADD CONSTRAINT assets_asset_id_key UNIQUE (asset_id);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: vulnerability; Owner: airflow_sec
--

ALTER TABLE ONLY vulnerability.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: defender_detections defender_detections_pkey; Type: CONSTRAINT; Schema: vulnerability; Owner: airflow_sec
--

ALTER TABLE ONLY vulnerability.defender_detections
    ADD CONSTRAINT defender_detections_pkey PRIMARY KEY (id);


--
-- Name: nvd_cves nvd_cves_pkey; Type: CONSTRAINT; Schema: vulnerability; Owner: airflow_sec
--

ALTER TABLE ONLY vulnerability.nvd_cves
    ADD CONSTRAINT nvd_cves_pkey PRIMARY KEY (cve_id);


--
-- Name: idx_asset_service; Type: INDEX; Schema: vulnerability; Owner: airflow_sec
--

CREATE INDEX idx_asset_service ON vulnerability.assets USING btree (servico_vinculado, descricao);


--
-- Name: idx_defender_cve; Type: INDEX; Schema: vulnerability; Owner: airflow_sec
--

CREATE INDEX idx_defender_cve ON vulnerability.defender_detections USING btree (cve_id);


--
-- Name: idx_nvd_desc_trgm; Type: INDEX; Schema: vulnerability; Owner: airflow_sec
--

CREATE INDEX idx_nvd_desc_trgm ON vulnerability.nvd_cves USING gin (descricao public.gin_trgm_ops);


--
-- Name: defender_detections defender_detections_cve_id_fkey; Type: FK CONSTRAINT; Schema: vulnerability; Owner: airflow_sec
--

ALTER TABLE ONLY vulnerability.defender_detections
    ADD CONSTRAINT defender_detections_cve_id_fkey FOREIGN KEY (cve_id) REFERENCES vulnerability.nvd_cves(cve_id);


--
-- PostgreSQL database dump complete
--

\unrestrict QeR2jdXFbcR41LG3gip557ewaan88zNv6KHFqR80q2m0NHZCdmAdojjmdliZnR5

